langchain==1.2.15
langchain-classic==1.0.4
langchain-groq==1.1.2
qdrant-client==1.18.0
langchain-qdrant==1.1.0
langchain-huggingface==1.2.2
fastembed==0.8.0
pydantic==2.13.2
python-dotenv==1.2.2
ragas==0.4.3
pandas==3.0.3
numpy==1.26.4